.dialogTitle {
    display: flex;
    align-items: center;
    min-width: 500px;
    color: #fff !important;
    background: #5D2E8F;
}
.dialogTitle .titleDiv {
    flex: 1;
}
.dialogTitle .closeDiv {
    cursor: pointer;
}
.appBar {
    z-index: 100;
}
.drawerContainer {
    min-width: 100vw;
    min-height: 100vh
}
.mdc-dialog__title {
    color: #fff !important;
    background: #5D2E8F;
}

.userprofile {
    color: black;
    text-decoration: none;
    font-weight: 400;
}
.mat-layout-grid-cell .label {
    line-height: 48px;
}

.mat-layout-grid-cell .mdc-text-field--outlined {
    height: 48px !important;
    margin-bottom: 15px !important;
}


.mat-layout-grid-cell .mdc-select .mdc-select__anchor {
    height: 48px !important;
    margin-bottom: 15px !important;
}

.mat-layout-grid-cell .datelabel {
    margin-bottom: 15px !important;
}

 .btndiv {
    margin-left: 20%;
}
.tableth {
    width: 20%;
}
.searchinput {
    margin-right: 50px;
}
.mat-layout-grid-cell .mat-select {
    width: 300px !important;
}
.mat-layout-grid-cell label {
    width: 300px !important;
}
 .mdc-select__menu {
    width: 300px !important;
}
.mat-layout-grid-cell .mat-tree {
    width: 300px !important;
    margin-top: 15px !important;
}

.divright {
    position: absolute;
    color: white;
    font-size: 10px;
    background-color: #ffc107;
    width: 18px;
    height: 18px;
    line-height: 18px;
    left: 55%;
    top: 3px;
    text-align: center;
    -webkit-border-radius: 24px;
    border-radius: 18px;
}
.float-right{
    float:right;
}