.input-text1 {
  margin-left: 0.9rem;
}

.input-text1 {
  margin-left: 0.9rem;
  margin-right: 0.9rem;
}

.input-text2 {
  margin-left: 0.9rem;
}

.progressbar-1 {
  width: 20%;
}

.progressbar-2 {
  width: 40%;
}

.progress-4 {
  width: 40%;
}

.progress-all {
  width: 100%;
  background-color: #e83e8c;
}

.progress-1 {
  width: 40%;
}

.progress-2 {
  width: 30%;
}

.progress-2 {
  width: 30%;
}

.svg-circle1 {
  color: primary;
}

.svg-circle1 {
  color: #1cc88a;
  margin-right: 0.5rem;
}

.svg-circle2 {
  color: #f6c23e;
  margin-right: 0.5rem;
}

.svg-circle3 {
  color: #e74a3b;
  margin-right: 0.5rem;
}

.progress-bar {
  background-color: #f8f9fc;
}

.card-body-h {
  height: 65px;
}

.fas.fa-user222 {
  margin-right: 0.2rem;
}

.pplicon {
  margin-right: 0.4rem;
}

.svg-ball {
  color: #36b9cc;
  margin-right: 0.5rem;
}

.card-body-hh {
  height: 65px;
}

.progressbar-111 {
  height: 25px;
  width: 70px;
}

.table-responsive1 {
  overflow: hidden;
}

.btn.btn-primary.dropdown-toggle.col-md-5 {
  margin-left: 2rem;
}

.fa.fa-user-circle {
  color: #5a5c69;
  margin-left: 0.5rem;
}

.fa.fa-lock.fa-3x {
  color: #5a5c69;
  margin-left: 1rem;
  margin-top: 1rem;
}

.fa.fa-user {
  color: #5a5c69;
  margin-left: 0.2rem;
  margin-top: 1.3rem;
}

.btn.btn-primary.btn-block.btn-user {
  width: 15%;
  margin-left: 22rem;
}

.btn.btn-secondary.btn-block.btn-user {
  width: 25%;
  margin-left: 11rem;
  margin-top: 2rem;
}

.row-t {
  margin-top: 15rem;
  margin-left: 25rem;
  width: 60%;
}

.fa.fa-lock.fa-2x {
  margin-left: 0.2rem;
  margin-top: 1.4rem;
  color: #5a5c69;
}

.img111 {
  margin-left: 10rem;
  width: 30%;
  margin-top: 1rem;
}

.container11 {
  background-image: url(../../assets/img/1599px-Rlp_civil_aviation_department_headquarter.jpg);
  background-size: 155%;
}

.form-control {
  margin-top: 0.8rem;
}

.h5ww {
  margin-bottom: 2rem;
}

.dropdown111 {
}

.dropdown111 {
  margin-top: 100px;
  background: #00B4DB;
  background: linear-gradient(to right, #0083B0, #00B4DB);
  color: #514B64;
  min-height: 100vh;
}

.dropdown12 {
  margin-top: 5px;
  background: #00B4DB;
  color: #514B64;
  min-height: 20vh;
  background: linear-gradient(to right, #0083B0, #00B4DB);
}

.dropdown111 {
}

.textarea111 {
  height: 82px;
  width: 400px;
}

