@page "/ATCL/PendingApplicationSearch"
@inject NavigationManager NavigationManager

<section id="initialApplicationSection">
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Table - Searching Page</title>
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
        <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
        <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css">
        <link rel="stylesheet" href="assets/css/untitled-1.css">
        <link rel="stylesheet" href="assets/css/untitled-2.css">
        <link rel="stylesheet" href="assets/css/untitled.css">
    </head>

    <body class="text-primary" id="page-top">
        <div id="wrapper">

            <div class="d-flex flex-column" id="content-wrapper">
                <div id="content">
                    
                    <div class="container-fluid">
                        <h3 class="text-dark mb-4">Application Search</h3>
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 font-weight-bold table-header">Searching Criteria</p>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <div class="row mb-2">
                                            <div class="col col-md-3"><span>Name</span></div>
                                            <div class="col-md-3"><input type="text"></div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col col-md-3"><span>Other Name</span></div>
                                            <div class="col-md-3"><input type="text"></div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col col-md-3"><span>Licence No.</span></div>
                                            <div class="col-md-3"><input type="text"></div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-md-3"><span>Application ID</span></div>
                                            <div class="col col-md-9"><span class="text-secondary">From&nbsp;</span><input type="text" class="input-text1"><span class="text-secondary">To</span><input type="text" class="input-text2"></div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col-md-3"><span>Date of Submission</span></div>
                                            <div class="col col-md-9"><span class="text-secondary">From&nbsp;<input class="input-text1" type="date">&nbsp;</span><span class="text-secondary">To</span><input class="input-text2" type="date"></div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col"><span>Application Status</span></div>
                                            <div class="col-md-3">
                                                <div class="col">
                                                    <select id="ddllic" multiple>
                                                        <option value="value 1">Drafted by TU</option>
                                                        <option value="value 2">Submitted by TU</option>
                                                        <option value="value 3">Pending by C(TS)</option>
                                                        <option value="value 3" selected>Pending by ATMSO</option>
                                                        <option value="value 3">Pending by C,ATS</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3"></div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col"><span>Application Type</span></div>
                                            <div class="col-md-3">
                                                <div class="col">
                                                    <select id="apptype" multiple>
                                                        <option value="value 1" selected>DCA-744-1,2,5&nbsp;&nbsp;</option>
                                                        <option value="value 2">DCA-744-2,2A,5&nbsp;&nbsp;</option>
                                                        <option value="value 3">DCA-744-4,5A,6&nbsp;&nbsp;</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3"></div>
                                        </div>
                                        <div class="row mb-2">
                                            <div class="col"><button class="btn btn-primary" type="button">Search</button><button class="btn btn-primary text-dark bg-light border rounded border-dark mx-3" type="button">Reset</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Search Result(s)</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <span class="span-show">Show</span><select class="col-md-5">
                                        <option value="12" selected="">10</option>
                                        <option value="13">15</option>
                                        <option value="14">20</option>
                                    </select>
                                    <div></div>
                                </div>
                                <div class="col col-md-4"><span class="text-dark span-sortby"><strong>Sort By</strong></span></div>
                                <div class="col">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle text-dark bg-light col-md2" aria-expanded="false" data-toggle="dropdown" type="button">Application ID</button>
                                        <div class="dropdown-menu"><a class="dropdown-item" href="#">ID13337211</a><a class="dropdown-item" href="#">ID13337212<br></a><a class="dropdown-item" href="#">ID13337213<br></a></div>
                                    </div>
                                   </div>
                                <div class="col">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle text-dark bg-light col-md-5" aria-expanded="false" data-toggle="dropdown" type="button">Ascending</button>
                                        <div class="dropdown-menu"><a class="dropdown-item" href="#">Ascending</a><a class="dropdown-item" href="#">Descending<br></a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"></div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable-1" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>Application ID</th>
                                            <th>Date of Submission</th>
                                            <th>Type</th>
                                            <th>Status</th>
                                            <th>Last Updated By</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="ATCL/initApplication?application_no=13337211">13337211 </a></td>
                                            <td>02/02/2021</td>
                                            <td>DCA-744-1,2,5</td>
                                            <td>Pending by ATMSO</td>
                                            <td>Joe AU<br></td>
                                        </tr>
                                        <tr>
                                            <td><a href="ATCL/initApplication?application_no=13337217">13337217 </a></td>
                                            <td>03/03/2021</td>
                                            <td>DCA-744-1,2,5<br></td>
                                            <td>Pending by ATMSO<br></td>
                                            <td>Joe AU<br></td>
                                        </tr>
                                        
                                    </tbody>
                                    <tfoot>
                                        <tr></tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                                </div>
                                <div class="col-md-6">
                                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="bg-white sticky-footer">
                    <div class="container my-auto">
                        <div class="text-center my-auto copyright"><span class="text-secondary">Copyright © ASL 2021</span></div>
                    </div>
                </footer>
            </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
        </div>
        
    </body>

</html>
</section>

