<section class="pt-10 pt-md-12" id="stepsSection">
    <div class="container">
        <div class="row align-items-center landingHeader sectionTitle" id="applyLicensesTitle">
            <h1 class="m-5">
                Online registration step
            </h1>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-md-7 col-lg-6 order-2 order-lg-1 order-xl-1 mt-4" id="stepGroup">
                <div class="stepApplyLicenses">
                    <div id="stepOneTitle" class="row mb-4">
                        <div class="col-2">
                            <BSBadge class="badge badge-rounded-circle bg-secondary-soft stepBadge">
                                1
                            </BSBadge>
                        </div>
                        <div class="col-10">
                            <label>
                                Verify your email address
                            </label>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div id="stepOneText" class="row">
                            <div class="col-2"></div>
                            <div class="col-10">
                                <label>
                                    Takes a few minutes to verify your email first
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stepApplyLicenses">
                    <div id="stepTwoTitle" class="row mb-4">
                        <div class="col-2">
                            <BSBadge class="badge badge-rounded-circle bg-secondary-soft stepBadge">
                                2
                            </BSBadge>
                        </div>
                        <div class="col-10">
                            <label>
                                Provide your login credential
                            </label>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div id="stepTwoText" class="row">
                            <div class="col-2"></div>
                            <div class="col-10">
                                <label>
                                    Input your login ID and password
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stepApplyLicenses">
                    <div id="stepThreeTitle" class="row mb-4">
                        <div class="col-2">
                            <BSBadge class="badge badge-rounded-circle bg-secondary-soft stepBadge">
                                3
                            </BSBadge>
                        </div>
                        <div class="col-10">
                            <label>
                                Provide your personal information
                            </label>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div id="stepThreeText" class="row">
                            <div class="col-2"></div>
                            <div class="col-10">
                                <label>
                                    Fill in your personal information such as HKID, Passport no. and your residential address
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-6 order-1 order-lg-2 order-xl-2">
                <img src="https://transportationtodaynews.com/wp-content/uploads/2018/09/shutterstock_600097127.jpg" alt="Apply Licenses Image" class="img-fluid mb-6 mb-md-0" style="filter: drop-shadow(0 0 0.75rem);">
            </div>
        </div>
    </div>
</section>

<style>
    .stepBadge {
        border-radius: 50%;
        width: 34px;
        height: 34px;
        color: #2E4161;
        text-align: center;
        background-color: #D9DCE2;
    }

    #stepsSection {
        margin-bottom: 15vh;
    }

    .badge {
        padding: .25em .4em !important;
    }

    #stepOneTitle, #stepTwoTitle, #stepThreeTitle {
        font-size: 27.6px;
        font-weight: bold;
    }

    #stepOneText, #stepTwoText, #stepThreeText {
        font-size: 23.5px;
    }
</style>

@code {

}
