@page "/forgot"
@page "/forgotLoginId"
@page "/forgotPassword"
@layout FrontEndAccountLayout
@inject NavigationManager NavigationManager

<section id="forgotSection">
    <div class="row justify-content-center">
        @*<div class="col-8 mr-3 p-5">*@
        <AccountContentForm>
            <div class="my-4">
                @if (isForgotPassword)
                {
                    <h3 class="contentHeader">Forgot password</h3>
                }
                else
                {
                    <h3 class="contentHeader">Forgot login ID</h3>
                }
            </div>
            <div class="my-4">
                @if (isForgotPassword)
                {
                    <h5 class="contentSubHeader">Please enter the information to receive password</h5>
                }
                else
                {
                    <h5 class="contentSubHeader">Please enter the information to receive login ID</h5>
                }
            </div>
            <div class="my-3">
                <label class="inputDescLabel">HKID / Passport no.*</label>
                <input class="form-control" />
            </div>
            <div class="my-3">
                <label class="inputDescLabel">Date of Birth*</label>
                <input class="form-control" />
            </div>
            <div class="my-3">
                <button class="btn btn-primary w-100 confirmBtn">Confirm</button>
            </div>
        </AccountContentForm>
        @*</div>*@
        @*<div class="col" id="imgHolder">
                &nbsp;
            </div>*@
        <AccountBannerImageHolder BackgroundImageUrl="/images/Img_002.jpeg"></AccountBannerImageHolder>
    </div>
</section>

<style>
    /*#confirmBtn {
        background-color: #2E4161;
        color: #FFF;
    }

        #confirmBtn.disabled {
            background-color: #84ABCA;
        }*/

    /*#imgHolder {
        background-image: url(/images/Img_002.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
    }*/
</style>

@code {
    [Parameter]
    public bool isForgotPassword { get; set; } = false;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Console.WriteLine("## OnInitialized: " + NavigationManager.Uri);
        if (NavigationManager.Uri.Contains("/forgotPassword"))
        {
            isForgotPassword = true;
        }
    }
}
