<div class="mb-3 hrLine @Class">
    <span>@Text</span>
</div>

<style>
    .hrLine {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 10px 0 20px;
    }

        .hrLine span {
            background: #fff;
            padding: 0 10px;
        }
</style>

@code {
    [Parameter]
    public String Text { get; set; }
    [Parameter]
    public String Class { get; set; }
}
