.informationListItem {
    background-color: #D9E8FF;
    color: #2E4161;
    font-weight: bold;
}

.informationListItemSelection {
    background-color: #F6F6F6;
    color: #7E899E;
}

    .informationListItemSelection.selectedItem {
        background-color: #FFFFFF;
        color: #595959;
    }

.selectedItem {
    background-color: #2E4161;
    color: #F6F6F6;
    font-weight: bold;
}

.catHeaderItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .catHeaderItem .catHeaderItemContent {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
