.informationListItem[b-0dl9q75a7p] {
    background-color: #D9E8FF;
    color: #2E4161;
    font-weight: bold;
}

.informationListItemSelection[b-0dl9q75a7p] {
    background-color: #F6F6F6;
    color: #7E899E;
}

    .informationListItemSelection.selectedItem[b-0dl9q75a7p] {
        background-color: #FFFFFF;
        color: #595959;
    }

.selectedItem[b-0dl9q75a7p] {
    background-color: #2E4161;
    color: #F6F6F6;
    font-weight: bold;
}

.catHeaderItem[b-0dl9q75a7p] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .catHeaderItem .catHeaderItemContent[b-0dl9q75a7p] {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
